<header>
    <div class="main-header-wrapper">
        <div class="img-curve-layer bg-info ">
            <img src="./assets/images/manage.webp" class="img-curve " alt="" loading="lazy" />
        </div>
        <div class="title-course d-none d-md-block">
            <h5>FREE Course Builder's Bootcamp</h5>
            <p>Learn to create and sell your own popular online course, and get set for success in less than a week</p>
        </div>
        <div class="btn-wrap">
            <button class="btn-join" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Join the Bootcamp <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./assets/images/Logo.svg" alt="Mirasee">
        </a>
        <div class="d-flex">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-block d-md-none">
                <a class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Blog
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Podcasts
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Work With Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"><i class="fa-solid fa-magnifying-glass"></i></a>
                </li>
            </ul>

        </div>

    </div>
</nav>

<section class="content-section">
    <div class="content-wrap">
        <h1>Who we are?</h1>
        <p>Mirasee is an e-learning and digital marketing company that's geared towards teaching online course 
            creators how to grow a successful online business. Under the leadership of Danny Iny.</p>
    </div>
</section>

<section class="main-wrapper-template">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12">
                <div class="left-side-content">
                    <div class="title">
                        Intro paragrapgh – Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Curabitur sed sem sodales,
                        imperdiet nunc sed, vestibulum ligula. </div>

                    <h3>
                        Heading 2 – The quick brown fox jumps over the lazy dog.
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sem sodales, imperdiet
                        nunc sed, vestibulum ligula. Nam in urna est. Integer sagittis rhoncus turpis, in sodales nisl
                        ultrices in. Duis sit amet malesuada nisi.</p>
                    <h4>Heading 3 – The quick brown fox jumps over the lazy dog.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sem sodales, imperdiet
                        nunc sed, vestibulum ligula. Nam in urna est. Integer sagittis rhoncus turpis, in sodales nisl
                        ultrices in. Duis sit amet malesuada nisi.</p>
                    <h5>Heading 4 – The quick brown fox jumps over the lazy dog.</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sem sodales, imperdiet
                        nunc sed, vestibulum ligula. Nam in urna est. Integer sagittis rhoncus turpis, in sodales nisl
                        ultrices in. Duis sit amet malesuada nisi.</p>
                    <h6>Heading 5 – The quick brown fox jumps over the lazy dog.</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sem sodales, imperdiet
                        nunc sed, vestibulum ligula. Nam in urna est. Integer sagittis rhoncus turpis, in sodales nisl
                        ultrices in. Duis sit amet malesuada nisi.</p>
                    <h5>Heading 6 – The quick brown fox jumps over the lazy dog.</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed sem sodales, imperdiet
                        nunc sed, vestibulum ligula. Nam in urna est. Integer sagittis rhoncus turpis, in sodales nisl
                        ultrices in. Duis sit amet malesuada nisi.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="right-sidebar">
                    <div class="action-box-wrap">
                        <h5>Call to Action Box - Style 1 Blue</h5>
                        <p>
                            Learn to create and sell your own popular online course,
                            and get set for success in less than a week
                        </p>
                        <div class="btn-wrap">
                            <button class="btn-join">
                                Join the Bootcamp <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-widget-wrapper">
                        <h5>Text Widget</h5>
                        <p>Learn to create and sell your own popular online course,
                            and get set for success in less than a week</p>
                        <div class="btn-wrap">
                            <button class="btn-join">
                                Join the Bootcamp <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="list-widget-wrapper">
                        <h5>List Widget</h5>
                        <ul>
                            <li>
                                <a href="/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    Deliberate practice means practicing
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    The more we engage in deliberate practice
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    Our minds and bodies are far more malleable than we usually realize.
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<footer>
   
    <div class="footer-bottom-section">
        <div class="img-curve-layer-base bg-info d-none d-lg-block">
            <img src="./assets/images/manage.webp" 
            class="img-curve-base" alt="" width="430" height="288" />
        </div>
        <div class="container">
            <div class="row justify-content-center mt-4 mt-xs-0" >
                <div class="col-lg-8 offset-xs-0 col-xs-12 offset-lg-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 mb-4">
                            <div class="title-course text-left">
                                <h5>FREE Course Builder's Bootcamp</h5>
                                <p>Learn to create and sell your own popular online course, and get set for success in less than a week</p>
                            </div>
                        </div>
                        <div class=" col-lg-5 col-md-6 col-xs-12">
                            <div class="btn-wrap">
                                <button class="btn-join" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Join the Bootcamp <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                
               
            </div>
        </div>
        </div>
    </div>

    <section class="link-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="link-menu">
                        <h5>About mirasee</h5>
                        <ul>
                            <li><a href="/">About Us</a></li>
                            <li><a href="/">Contact</a></li>
                            <li><a href="/">Work with Us</a></li>
                            <li><a href="/">Partner with Us</a></li>
                            <li><a href="/">Write for Us</a></li>
                            <li><a href="/">Recommended Partners</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-menu">
                        <h5>Resources</h5>
                        <ul>
                            <li><a href="/">Teach Your Gift</a></li>
                            <li><a href="/">Leveraged Learning</a></li>
                            <li><a href="/">Teach and Grow Rich</a></li>
                            <li><a href="/">Partner with Us</a></li>
                            <li><a href="/">The Audience Revolution</a></li>
                            <li><a href="/">Free ebook: Engagement From Scratch!</a></li>
                            <li><a class="link" href="/">See all books →</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-menu">
                        <h5>Podcasts</h5>
                        <ul>
                            <li><a href="/">Business Reimagined</a></li>
                            <li><a href="/">Grow Your Business</a></li>
                            <li><a href="/">Online Courses</a></li>
                          
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-menu">
                        <h5>Blog</h5>
                        <ul>
                            <li><a href="/">Create Online Courses</a></li>
                            <li><a href="/">Market Online Courses   </a></li>
                            <li><a href="/">Grow Your Business</a></li>
                 
                            <li><a class="link" href="/">More in blog →</a></li>
                        </ul>
                    </div>
                </div>
            </div>
          
        </div>
    </section>
    <section class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-logo">
                        <img src="./assets/images/Logo.svg" alt="" />
                        <p>© 2015 - 2021 Mirasee.com®</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="footer-menu">
                        <li>Home</li>
                        <li>Privacy Policy</li>
                        <li>Terms & Conditions</li>
                        <li>Français</li>
                        <li>Site Map</li>
                        <li>Contact</li>
                   </ul>
                </div>
                <div class="col-md-3">
                  
                        <ul class="footer-social-menu">
                            <li><img src="./assets/images/instagram.svg" alt=""/></li>
                            <li><img src="./assets/images/twitter.svg" alt=""/></li>
                            <li><img src="./assets/images/youtube.svg" alt=""/></li>
                            <li><img src="./assets/images/fb.svg" alt=""/></li>
                        </ul>
                  
                </div>
    
            </div>
        </div>
    </section>
</footer>


<!-- --------------------------------------------------------------- -->

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/26055684.js"></script>
<!-- End of HubSpot Embed Code -->

<div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enroll For A Free Trial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="hubspotForm"></div>
            </div>
        </div>
    </div>
</div>