<header>
    <div class="main-header-wrapper">
        <div class="img-curve-layer bg-info ">
            <img src="./assets/images/manage.webp" class="img-curve " alt="" loading="lazy" />
        </div>
        <div class="title-course d-none d-md-block">
            <h5>FREE Course Builder's Bootcamp</h5>
            <p>Learn to create and sell your own popular online course, and get set for success in less than a week</p>
        </div>
        <div class="btn-wrap">
            <button class="btn-join" data-bs-toggle="modal" data-bs-target="#registrationModal">
                Join the Bootcamp <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./assets/images/Logo.svg" alt="Mirasee" loading="lazy">
        </a>
        <div class="d-flex">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-block d-md-none">
                <a class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Blog
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Podcasts
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Work With Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"><i class="fa-solid fa-magnifying-glass"></i></a>
                </li>
            </ul>

        </div>

    </div>
</nav>

<section class="content-section">
    <div class="content-wrap">
        <h1>Launch a Course That Changes Lives</h1>
        <p>Discover The Proven Method that 5,240+ Coaches & Consultants Have Used to Profit From Online Courses</p>
    </div>
</section>

<section class="main-wrapper-template">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12">
                <div class="left-side-content">

                    <div class="title">
                        Mirasee is an e-learning and digital marketing company that's geared towards teaching online course creators how to grow a successful online business. Under the leadership of Danny Iny.
                    </div>

                    <h3>
                        Expert in Your Topic, But Not in Online Course Building?
                    </h3>
                    <p>You're smart, so you already know that an online course is an ideal way to leverage your valuable specialist knowledge.</p>
                    <p>Whether you want to boost your professional credibility, grow your audience, increase your revenues or make a bigger impact on the world, creating your own online course will help you to accomplish those ambitions.</p>
                    <p>There's just one problem... When you don't have a lot of course-building experience, it's hard to figure out what you need to do, and how to make it all work.</p>
                    <p>You really don't have the time to spend endless months - maybe even years - figuring it out on your own.</p>
                    <p>And you don't want to risk investing all that time and effort into your course creation project, only to find that nobody's interested in buying your course after all!
                        You want to get the course-building knowledge and skills you need NOW, so that you can make your course as successful (and profitable!) as possible.</p>

                    <h3>The Course Builder's Bootcamp</h3>
                    <p>My team and I have created this Bootcamp to get you up to speed with all the essentials of course creation and monetization, fast.</p>
                    <p>You'll learn all the steps and core ideas of my course building process, condensed for quick learning and application. And you'll learn what you need to do or change in your business, to become a successful online course creator.</p>
                    <p>You'll have access to the Bootcamp for 7 days to complete three video training modules. You'll have a short assignment to submit at the end of each module.</p>
                    <p>You'll be able to get help and support from our Course Building Strategists at any time, to get immediate, personalized advice</p>
                    <p>After a week, your access to the Bootcamp will be removed. We do this because there's compelling scientific evidence to suggest that having a real deadline will encourage you to work through the lessons consistently and productively.</p>

                    <h4>Here's Exactly What You'll Learn and Do in the Bootcamp</h4>
                    <div class="accordion" id="course-outline-accordion">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                The Billion Dollar Course Building Opportunity
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#course-outline-accordion">
                            <div class="accordion-body">
                              <ul>
                                <li>What it <strong>really</strong> takes to become a successful (and profitable!) builder of online courses</li>
                                <li>The 4 big trends happening right now in online education, and how you can position yourself to best take advantage of them</li>
                                <li>How to identify topics based on your expert knowledge, that you could offer in an online course</li>
                                <li>The truth about marketing an online course - and the key opportunities for course creators in 2019</li>
                                <li>By the end of this lesson, you'll understand the massive opportunity of online courses and what you need to move forward to achieve your goals</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How To Sell Your Course Before You Build It
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#course-outline-accordion">
                            <div class="accordion-body">
                                <ul>
                                  <li>How to determine your best course marketing strategy so that your ideal students are pleased to hear about it</li>  
                                  <li>The simple formula to establish yourself as an authority so that you can sell your course before you build it</li>  
                                  <li>Why it makes sense to sell your course <strong>before</strong> you build it, and why your paying students will gladly help you with the course creation process!</li>  
                                  <li>How to make sure the topic you choose is something students will pay you to teach them</li>  
                                  <li>By the end of this lesson, you'll understand what you need to change in your business and what topic to focus on to make your online course-building ambitions a reality</li>  
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                What You Need To Create Your First Course, Starting Today
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#course-outline-accordion">
                            <div class="accordion-body">
                                <ul>
                                    <li>How to design and build your course quickly and painlessly, without content problems or technology issues</li>  
                                    <li>4 Effortless Enrollment Strategies to put paying students into your course, fast</li>  
                                    <li>How to help your students get the best possible outcomes so that they not only complete your course, but spread the word and send new students your way</li>  
                                    <li>My Pilot Checklist: 10 Things You Need to Get Started (and 6 You Don't)</li>
                                    <li>By the end of this lesson, you'll be able to follow our proven course marketing and sales framework to get paying students excited and eager to enroll in your course</li>  
                                  </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="right-sidebar">
                    <div class="action-box-wrap">
                        <h5>FREE Course Builder's Bootcamp</h5>
                        <p>
                            Learn to create and sell your own popular online course,
                            and get set for success in less than a week
                        </p>
                        <div class="btn-wrap">
                            <button class="btn-join" data-bs-toggle="modal" data-bs-target="#registrationModal">
                                Join the Bootcamp <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-widget-wrapper">
                        <h5>Premium Podcasts</h5>
                        <p>Our podcast network offers insight and inspiration to entrepreneurs who are eager to share their gifts with the world.</p>
                        <div class="btn-wrap">
                            <button class="btn-join">
                                Explore Podcasts <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="list-widget-wrapper">
                        <h5>Explore Trending Blogs</h5>
                        <ul>
                            <li>
                                <a href="https://mirasee.com/pillar/create-online-course/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    Create An Online Course: The Ultimate Guide for 2022
                                </a>
                            </li>
                            <li>
                                <a href="https://mirasee.com/pillar/sell-online-courses/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    Sell Online Courses in 2022 Ultimate (12-Step) Guide
                                </a>
                            </li>
                            <li>
                                <a href="https://mirasee.com/pillar/online-course-platforms/">
                                    <i class="fa-solid fa-angle-right"></i>
                                    21 Best Online Course Platforms in 2022
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="testimonial-section">
    <div id="testimonial-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="container">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#testimonial-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#testimonial-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#testimonial-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            
            <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <h4 class="quotes-head">Building my course and happy with my progress!</h4>
                <p class="quotes-wrap">"My time was rewarded with valuable learning and information... Since signing up, I've been very hard at work building out my course... The caring, sense of community, and customer service that everyone showed during the Bootcamp were impressive, and have been borne out by your subsequent excellence in customer service and your great course materials. I'm happy with my progress and appreciate all you do!"</p>
                <div class="item-avatar-wrapper text-center">
                    <div class="item-avatar">
                        <img src="./assets/images/testimonial-1.png" class="d-block w-100" alt="" loading="lazy" />
                    </div>
                    <div class="info">
                        <h5>Rebecca Cuevas</h5>
                        <h6>Founder and CEO, Learn and Get Smarter, Inc</h6>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <h4 class="quotes-head">I got 42 students without trying</h4>
                <p class="quotes-wrap">"When I made the first offering I wanted a dozen people just to test it, and I got 42, without really trying. I made a little over $2,000 with the course so I was really happy with that."</p>
                <div class="item-avatar-wrapper text-center">
                    <div class="item-avatar">
                        <img src="./assets/images/testimonial-2.png" class="d-block w-100" alt="" loading="lazy"/>
                    </div>
                    <div class="info">
                        <h5>Edward Vilga</h5>
                        <h6>Yoga & Creative Guru</h6>
                    </div>
                </div>
            </div>
            <div class="carousel-item " data-bs-interval="10000">
                <h4 class="quotes-head">Now earned more than $50,000</h4>
                <p class="quotes-wrap ">"The results from... actually sticking with it and making this course possible, it's actually crazy to me. It's been over $50,000 now that have come into my business which is awesome."</p>
                <div class="item-avatar-wrapper text-center">
                    <div class="item-avatar">
                        <img src="./assets/images/testimonial-3.png" class="d-block w-100" alt="" loading="lazy" />
                    </div>
                    <div class="info">
                        <h5>Molly Mahoney</h5>
                        <h6>Founder, The Prepared Performer Course Builder's Laboratory student</h6>
                    </div>
                </div>
            </div>
            </div>
    
            <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>   
    </div>
</section>
<footer>
   
    <div class="footer-bottom-section">
        <div class="img-curve-layer-base bg-info d-none d-lg-block">
            <img src="./assets/images/manage.webp" 
            class="img-curve-base" alt="" width="430" height="288" loading="lazy"/>
        </div>
        <div class="container">
            <div class="row justify-content-center mt-4 mt-xs-0" >
                <div class="col-lg-8 offset-xs-0 col-xs-12 offset-lg-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 mb-4">
                            <div class="title-course text-left">
                                <h5>FREE Course Builder's Bootcamp</h5>
                                <p>Learn to create and sell your own popular online course, and get set for success in less than a week</p>
                            </div>
                        </div>
                        <div class=" col-lg-5 col-md-6 col-xs-12">
                            <div class="btn-wrap">
                                <button class="btn-join" data-bs-toggle="modal" data-bs-target="#registrationModal">
                                    Join the Bootcamp <i class="fa-solid fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="link-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="link-menu">
                        <h5>About mirasee</h5>
                        <ul>
                            <li><a href="/">About Us</a></li>
                            <li><a href="/">Contact</a></li>
                            <li><a href="/">Work with Us</a></li>
                            <li><a href="/">Partner with Us</a></li>
                            <li><a href="/">Write for Us</a></li>
                            <li><a href="/">Recommended Partners</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-menu">
                        <h5>Resources</h5>
                        <ul>
                            <li><a href="/">Teach Your Gift</a></li>
                            <li><a href="/">Leveraged Learning</a></li>
                            <li><a href="/">Teach and Grow Rich</a></li>
                            <li><a href="/">Partner with Us</a></li>
                            <li><a href="/">The Audience Revolution</a></li>
                            <li><a href="/">Free ebook: Engagement From Scratch!</a></li>
                            <li><a class="link" href="/">See all books →</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-menu">
                        <h5>Podcasts</h5>
                        <ul>
                            <li><a href="/">Business Reimagined</a></li>
                            <li><a href="/">Grow Your Business</a></li>
                            <li><a href="/">Online Courses</a></li>
                          
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="link-menu">
                        <h5>Blog</h5>
                        <ul>
                            <li><a href="/">Create Online Courses</a></li>
                            <li><a href="/">Market Online Courses   </a></li>
                            <li><a href="/">Grow Your Business</a></li>
                 
                            <li><a class="link" href="/">More in blog →</a></li>
                        </ul>
                    </div>
                </div>
            </div>
          
        </div>
    </section>
    <section class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-logo">
                        <img src="./assets/images/Logo.svg" alt="" loading="lazy" />
                        <p>© 2015 - 2021 Mirasee.com®</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="footer-menu">
                        <li>Home</li>
                        <li>Privacy Policy</li>
                        <li>Terms & Conditions</li>
                        <li>Français</li>
                        <li>Site Map</li>
                        <li>Contact</li>
                   </ul>
                </div>
                <div class="col-md-3">
                  
                        <ul class="footer-social-menu">
                            <li><img src="./assets/images/instagram.svg" alt="" loading="lazy" /></li>
                            <li><img src="./assets/images/twitter.svg" alt="" loading="lazy" /></li>
                            <li><img src="./assets/images/youtube.svg" alt="" loading="lazy" /></li>
                            <li><img src="./assets/images/fb.svg" alt="" loading="lazy" /></li>
                        </ul>
                  
                </div>
    
            </div>
        </div>
    </section>
</footer>

<div class="modal fade" tabindex="-1" role="dialog" id="registrationModal">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enroll For A Free Trial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="hubspotForm"></div>
            </div>
        </div>
    </div>
</div>